pipeline/Folderwise-copywithfilename.json
{
	"name": "Folderwise-copywithfilename",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Metadatadataset",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@startswith(item().name,'Sales')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Copy data1_copy1",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"wildcardFolderPath": {
														"value": "@pipeline().parameters.pp_input",
														"type": "Expression"
													},
													"wildcardFileName": "Sales*",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "newcopy",
												"type": "DatasetReference",
												"parameters": {
													"ds_filepath": {
														"value": "@pipeline().parameters.pp_filepath",
														"type": "Expression"
													},
													"ds_directory": {
														"value": "@pipeline().parameters.pp_input",
														"type": "Expression"
													},
													"ds_filename": {
														"value": "@pipeline().parameters.pp_filename",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "Folderwisecopysink",
												"type": "DatasetReference",
												"parameters": {
													"ds_filepath": {
														"value": "@pipeline().parameters.pp_filepath",
														"type": "Expression"
													},
													"ds_directory": {
														"value": "output/Market/",
														"type": "Expression"
													},
													"ds_filename": {
														"value": "@pipeline().parameters.pp_filename",
														"type": "Expression"
													}
												}
											}
										]
									}
								],
								"ifTrueActivities": [
									{
										"name": "Copy data1",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"wildcardFolderPath": {
														"value": "@pipeline().parameters.pp_input",
														"type": "Expression"
													},
													"wildcardFileName": "Sales*",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "newcopy",
												"type": "DatasetReference",
												"parameters": {
													"ds_filepath": {
														"value": "@pipeline().parameters.pp_filepath",
														"type": "Expression"
													},
													"ds_directory": {
														"value": "@pipeline().parameters.pp_input",
														"type": "Expression"
													},
													"ds_filename": {
														"value": "@pipeline().parameters.pp_filename",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "Folderwisecopysink",
												"type": "DatasetReference",
												"parameters": {
													"ds_filepath": {
														"value": "@pipeline().parameters.pp_filepath",
														"type": "Expression"
													},
													"ds_directory": {
														"value": "output/Sales/",
														"type": "Expression"
													},
													"ds_filename": {
														"value": "@pipeline().parameters.pp_filename",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"pp_filepath": {
				"type": "string"
			},
			"pp_input": {
				"type": "string"
			},
			"pp_output": {
				"type": "string"
			},
			"pp_filename": {
				"type": "string"
			}
		},
		"annotations": []
	}
}