pipeline/testmetadata.json
{
	"name": "testmetadata",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "testmetadata",
						"type": "DatasetReference",
						"parameters": {
							"ds_filepath": {
								"value": "@pipeline().parameters.pp_Filepath",
								"type": "Expression"
							},
							"ds_directory": {
								"value": "@pipeline().parameters.pp_input",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true
				}
			}
		],
		"parameters": {
			"pp_Filepath": {
				"type": "string"
			},
			"pp_input": {
				"type": "string"
			}
		},
		"annotations": []
	}
}